<div class="d-flex flex-column gap-3 my-5">
	<div class="d-flex flex-row justify-content-between align-items-center">
		<p class="fs-4 fw-bold">
			{{ "students.students" | translate }}
		</p>
		<a class=" btn btn-primary" [routerLink]="['/students/create']">
			{{ "students.create" | translate }}
		</a>
	</div>

	<ul class="nav nav-underline bg-body-tertiary px-3">
		<li class="nav-item">
			<button class="nav-link" [ngClass]="activeTab==1?'active':''" (click)="setActiveTab(1)">
				{{ "students.all" | translate }}
			</button>
		</li>
		<li class="nav-item">
			<button class="nav-link" [ngClass]="activeTab==2?'active':''" (click)="setActiveTab(2)">
				{{ "students.created_by_me" | translate }}
			</button>
		</li>
	</ul>

	<div class="">
		<input type="search" class="form-control border border-secondary-subtle"
			[placeholder]="'search.all' | translate" [(ngModel)]="searchText" (input)="searchStudents()">
	</div>

	<div class="card p-2">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">{{ "students.id" | translate }}</th>
					<th scope="col">{{ "students.name" | translate }}</th>
					<th scope="col">{{ "students.mobile" | translate }}</th>
					<th scope="col">{{ "students.Email" | translate }}</th>
					<th scope="col">{{ "students.NationalID" | translate }}</th>
					<th scope="col">{{ "students.Age" | translate }}</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@for (student of filteredStudents; track $index) {
				<tr>
					<th>{{student.ID}}</th>
					<td>{{student.Name}}</td>
					<td>{{student.Mobile}}</td>
					<td>{{student.Email}}</td>
					<td>{{student.NationalID}}</td>
					<td>{{student.Age}}</td>
					<td>
						<div class="d-flex gap-2 flex-row">
							<a [routerLink]="['/students/edit', student.ID]" class="btn btn-secondary">
								{{ "students.Edit" | translate }}
							</a>
							<button class="btn btn-danger" (click)="onDelete(student.ID)">
								{{ "students.Delete" | translate }}
							</button>
						</div>
					</td>
				</tr>
				}
			</tbody>
		</table>

	</div>

</div>

<div class="modal fade" [ngClass]="{'show':ShowDeleteModal}" [style.display]="ShowDeleteModal?'block':''"
	[style.background-color]="'#00000042'" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					{{ "students.confirm_delete" | translate }}
				</h5>
				<button type="button" class="btn btn-close mx-0" (click)="ShowDeleteModal=false"></button>
			</div>
			<div class="modal-body">
				{{ "students.confirm_delete_msg" | translate }} ({{studentId}}) ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="ShowDeleteModal=false">
					{{ "students.Cancel" | translate }}
				</button>
				<button type="button" class="btn btn-danger" (click)="onConfirmDelete()">
					{{ "students.Confirm" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
