<div class="card my-5 p-3 mx-auto w-50">

	<h2 class="mb-4">Create New Student</h2>

	<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="needs-validation">

		<div class="d-flex flex-row gap-5">

			<div class="form-floating mb-3 col">
				<input type="text" class="form-control" id="FirstName" formControlName="FirstName" required
					[ngClass]="{ 'is-invalid': studentForm.get('FirstName')?.errors && studentForm.get('FirstName')?.touched }">
				<label for="name" class="form-label">
					{{ "students.FirstName" | translate }}
				</label>
				<div *ngIf="studentForm.get('FirstName')?.invalid && studentForm.get('FirstName')?.touched"
					class="invalid-feedback">
					First Name is required
				</div>
			</div>

			<div class="form-floating mb-3 col">
				<input type="text" class="form-control" id="LastName" formControlName="LastName" required
					[ngClass]="{ 'is-invalid': studentForm.get('LastName')?.errors && studentForm.get('LastName')?.touched }">
				<label for="name" class="form-label">
					{{ "students.LastName" | translate }}
				</label>
				<div *ngIf="studentForm.get('LastName')?.invalid && studentForm.get('LastName')?.touched"
					class="invalid-feedback">
					Last Name is required
				</div>
			</div>

		</div>

		<div class="form-floating mb-3">
			<input type="text" class="form-control" id="Mobile" formControlName="Mobile" required
				[ngClass]="{ 'is-invalid': studentForm.get('Mobile')?.errors && studentForm.get('Mobile')?.touched }">
			<label for="Mobile" class="form-label">
				{{ "students.mobile" | translate }}
			</label>
			<div *ngIf="studentForm.get('Mobile')?.errors && studentForm.get('Mobile')?.touched"
				class="invalid-feedback">
				<div *ngIf="studentForm.get('Mobile')?.errors?.['required']">Mobile number is required</div>
				<div *ngIf="studentForm.get('Mobile')?.errors?.['pattern']">Mobile number must be 11 digits</div>
			</div>
		</div>

		<div class="form-floating mb-3">
			<input type="text" class="form-control" id="Email" formControlName="Email" required
				[ngClass]="{ 'is-invalid': studentForm.get('Email')?.errors && studentForm.get('Email')?.touched }">
			<label for="Email" class="form-label">
				{{ "students.Email" | translate }}
			</label>
			<div *ngIf="studentForm.get('Email')?.invalid && studentForm.get('Email')?.touched"
				class="invalid-feedback">
				<div *ngIf="studentForm.get('Email')?.errors?.['required']">Email is required</div>
				<div *ngIf="studentForm.get('Email')?.errors?.['pattern']">Email is invalid</div>
			</div>
		</div>

		<div class="form-floating mb-3">
			<input type="text" class="form-control" id="NationalID" formControlName="NationalID" required
				[ngClass]="{ 'is-invalid': studentForm.get('NationalID')?.errors && studentForm.get('NationalID')?.touched }">
			<label for="NationalID" class="form-label">
				{{ "students.NationalID" | translate }}
			</label>
			<div *ngIf="studentForm.get('NationalID')?.invalid && studentForm.get('NationalID')?.touched"
				class="invalid-feedback">
				<div *ngIf="studentForm.get('NationalID')?.errors?.['required']">National ID is required</div>
				<div *ngIf="studentForm.get('NationalID')?.errors?.['pattern']">National ID must be 14 digits</div>
			</div>
		</div>

		<div class="form-floating mb-3">
			<input type="number" class="form-control" id="Age" formControlName="Age" required
				[ngClass]="{ 'is-invalid': studentForm.get('Age')?.errors && studentForm.get('Age')?.touched }">
			<label for="Age" class="form-label">
				{{ "students.Age" | translate }}
			</label>
			<div *ngIf="studentForm.get('Age')?.invalid && studentForm.get('Age')?.touched" class="invalid-feedback">
				<div *ngIf="studentForm.get('Age')?.errors?.['required']">Age is required</div>
				<div *ngIf="studentForm.get('Age')?.errors?.['pattern']">Age must be 2 digits and more than 18</div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary w-100" [ngClass]="submited? 'disabled':''">
			{{ "students.create" | translate }}
		</button>

	</form>
</div>
